:root {
  --small-gap: 4px;
  --medium-gap: 8px;
  --large-gap: 16px;
  --primary-color: blue;
}

form {
  border: solid thin black;
  border-radius: 4px;
  gap: var(--small-gap);
  margin: auto 0;
  padding: 8px;
  width: 480px;
}
button {
  background-color: #ab9863;
  border: none;
  border-radius: 40px;
  color: whitesmoke;
  margin-top: 8px;
  padding: 8px;
}

.button--jumbo {
  font-size: 1.5rem;
  font-weight: bold;
  height: 10vh;
  text-transform: uppercase;
  transition: all 0.25s;
  width: 20vw;
}

.button--jumbo:hover,
.button--jumbo:focus {
  border-radius: 32px;
  box-shadow: 0 0 10px;
}

div {
  gap: 8px; /* vw is veiwport width */
  width: 100vw;
}

/* Utility Classes */
.button {
  background-color: #ab9863;
  border: none;
  border-radius: 40px;
  color: whitesmoke;
  margin-top: 8px;
  padding: 8px;
}

.text-center {
  text-align: center;
}

.button--reset {
  /* '--' conveys that this is a modifier class intended for use with '.button' */
  background-color: red;
}

.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex--justify-center {
  justify-content: center;
}

.flex--column {
  flex-direction: column;
}

.mt-medium {
  margin-top: var(--medium-gap);
}

/* Source: CSS Tricks */
.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
